node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

.git
.gitignore
.github

.vscode
.idea
*.swp
*.swo
.DS_Store

coverage
**/*.test.js
**/*.spec.js
test
tests

docker/local
docker/ci
docker/base
Dockerfile
docker-compose*.yml


README.md
CHANGELOG.md
docs

dist
build

.env
.env.*
!.env.production

logs
*.log
